.Avatar {
  font-family: $Futura;
  font-size: 15px;
  border-radius: 50%;
  background: none;
  border: none;
  outline-color: $Purple;
  &:active {
    outline: none;
  }
  .Avatar__image {
    border: 10px solid transparent;
    cursor: pointer;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    @include xs {
      height: 100px;
      width: 100px;
    }
    @include sm {
      height: 120px;
      width: 120px;
    }
  }
  .Avatar__text {
    margin: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    @include xs {
      font-size: 18px;
    }
  }
  .Avatar__small {
    height: 90px;
    width: 90px;
  }
}

.Avatar__active {
  outline: none;
  .Avatar__image {
    border: 10px solid $Purple;
  }
  .Avatar__text {
    color: $Purple;
  }
}
