.Container {
  min-height: $Container__height;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid yellow;
  .Container__title {
    color: #fff;
    margin: 10px 0;
    font-size: 45px;
    font-family: $Pacifico;
    font-weight: normal;
    text-align: center;
  }
  .Container__children {
    border: 2px solid yellow;
    min-height: $Container__children__min-height;
    height: 100%;
    width: $Layout__width__XLG;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include xs {
      width: $Layout__width__XS;
    }
    @include sm {
      width: $Layout__width__SM;
    }
    @include md {
      width: $Layout__width__MD;
    }
  }
}
