.CustomButton {
  &:hover {
    .CustomButton__icon {
      filter: brightness(0) invert(1);
    }
  }
  p {
    flex: 1;
    margin: 0;
    &::before {
      content: '';
      flex: 1;
    }
  }
  .CustomButton__icon {
    height: 30px;
  }
  .CustomButton__icon__disabled {
    filter: opacity(25%);
    cursor: not-allowed;
    pointer-events: none;
  }
}
