.Footer {
  width: 100%;
  height: $Footer__height;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.Chevron {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .Chevron__text {
    color: #fff;
    font-size: 22px;
  }
  .Chevron__image {
    width: 40px;
  }
}

.Chevron__left {
  margin-right: auto;
  padding-left: 50px;
  .Chevron__text:hover {
    color: $Purple;
  }
}

.Chevron__right {
  margin-left: auto;
  padding-right: 50px;
  .Chevron__text:hover {
    color: $BlueGreen;
  }
}

.Chevron__disabled {
  filter: opacity(25%);
  cursor: not-allowed;
  pointer-events: none;
}
