.Footer {
  width: 100%;
  height: $Footer__height;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.Chevron {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:active {
    outline: none;
  }
  .Chevron__text {
    color: #fff;
    font-size: 22px;
    @include xs {
      font-size: 20px;
    }
  }
  .Chevron__image {
    width: 40px;
    @include xs {
      width: 25px;
    }
    @include sm {
      width: 30px;
    }
  }
}

.Chevron__left {
  outline-color: $Purple;
  margin-right: auto;
  margin-left: 50px;
  padding: 0 10px;
  @include xs {
    margin-left: 10px;
  }
  .Chevron__text:hover {
    color: $Purple;
  }
}

.Chevron__right {
  outline-color: $BlueGreen;
  margin-left: auto;
  margin-right: 50px;
  padding: 0 10px;
  @include xs {
    margin-right: 10px;
  }
  .Chevron__text:hover {
    color: $BlueGreen;
  }
}

.Chevron__disabled {
  filter: opacity(25%);
  cursor: not-allowed;
  pointer-events: none;
}
