@import './CreateAccountButton/CreateAccountButton';
@import './LoginForm/LoginForm';

.Login {
  min-height: $Container__children__min-height;
  height: 350px;
  @include xs {
    height: 250px;
  }
}
