// ? FONTS
$Futura: 'Futura', sans-serif;
$Pacifico: 'Pacifico', cursive;

// ? Layout
$Layout__width__XS: 80vw;
$Layout__width__SM: 60vw;
$Layout__width__MD: 50vw;
$Layout__width__XLG: 35vw;

$Footer__height: 100px;
$AvatarHeader__height: 80px;
$Header__height: 150px;

// ? on soustrait $Footer__height pour mettre le Footer bien en bas de la page tt le tps
$Container__height: calc(100vh - #{$Footer__height});
$Container__children__min-height: 300px;
