.Header {
  background: #fff;
  padding: 10px 0;
  text-align: center;
  .Header__logo {
    height: 60px;
  }
  .Header__title {
    font-size: 40px;
    color: $DarkGrey;
    text-transform: uppercase;
    margin: 0;
    margin-top: 10px;
  }
}
